<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	
	<bean id="amazonUploader" class="com.logalty.cloudstorage.uploader.AmazonUploader"/>
	
	
	<bean id="example" class="com.logalty.cloudstorage.service.MainFileService">
		<property name="uploader" ref="amazonUploader"/>
		<property name="fileIn" value="D:\\pruebas\\nube\\indice.txt"/>
	</bean>

</beans>